@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
* 
{
    margin: 0px;
    padding: 0px;
}
body 
{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

#main 
{
    width: 960px;
    margin: 0px auto;
    border:1px solid black;
    min-height: 650px;
}
#header
{
    height: 150px;
    background-color: blanchedalmond;
    border-bottom: 3px solid black;
}
#leftlogo
{
    width: 150px;
    height: 150px;
    background-color: white;
    float: left;
}
#rightlogo
{
    width: 150px;
    height: 150px;
    background-color: orangered;
    float: left;
}
#title
{
    width: 660px;
    height: 150px;
    background-color:beige;
    float: left;
    text-align: center;
}
#title h1
{
    color:blue;
    font-size: 80px;
    text-shadow: 3px 3px 5px black;
    margin:-2px;
}
#title h3 
{
    letter-spacing: 5px;
    word-spacing: 25px;
    color:darkslategrey;
    margin-top: -15px ;
}
#leftlogo img,#rightlogo img 
{
    width: 100%;
    height: 100%;
}
#footer 
{
    background-color: black;
    font-size: 24px;
    color:White;
    text-align: center;
    line-height: 50px;
    height: 50px;
}
#container 
{
    min-height: 450px;
}
a 
{
    text-decoration: none;
}
#myForm 
{
    padding: 20px;
    width:500px;
    background-color: #00214E;
    color:yellow;
    margin: 20px auto;
    font-size: 20px;
    min-height: 250px;
}
#myForm label 
{
    display: block;
    margin: 5px 0px;
}
#myForm input[type="text"],#myForm input[type="password"],#myForm textarea,#myForm input[type="date"],#myForm select ,#myForm input[type="file"]    
{
  width: 90%;
  font-size: 20px;
  padding: 2px;
}
#formButtons input 
{
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: yellow;
    color: black;
    margin: 10px;
    border:2px solid black;
    border-radius: 10px;    
}
#resmessage 
{
    background-color: white;
    color:red;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}
#userinfo 
{
    background-color: #00214E;
    color:white; 
    width: 300px;
    text-align: center;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;

}
#userinfo  a 
{
    color:yellow;
}
#adminArea 
{
    background-color: #00224F;
    width: 100%;
    height: 100%;
}
#leftAdminArea 
{
    background-color: #00224F;
    width: 150px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#rightAdminArea 
{
    background-color: white;
    width: 805px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#adminMenu 
{
    list-style: none;
    margin: 0px;
    padding: 5px;
}
#adminMenu li 
{
     color:yellow;
     height: 25px;
}
#adminMenu li a 
{
    color:white;
    line-height: 25px;
    display: block;
} 
#adminMenu li a:hover 
{
   background-color: aqua;
   color:black;
   padding-left:10px;
}
#categoryContainer 
{
    background-color: #00224F;
    
    padding: 20px;
}
.category 
{
    width: 180px;
    height: 200px;
    border:5px solid yellowgreen;
    background-color: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

